<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вход</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="centered-container">
<div class="login-container">
    <h2>Вход</h2>
    <form th:action="@{/login}" th:object="${user}" method="post">
        <div class="field-group">
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" th:field="*{username}" required>
        </div>
        <div class="field-group">
            <label for="password">Пароль:</label>
            <input type="password" id="password" th:field="*{password}" required>
        </div>
        <button type="submit">Войти</button>
        <a href="/registration" class="nav-button">Нет аккаунта? Регистрация</a>
    </form>
</div>
</body>
</html>
