<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transactions</title>
</head>
<body>
<h1>Transactions for <span th:text="${user.name}"></span></h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Type</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction : ${transactions}">
        <td th:text="${transaction.id}"></td>
        <td th:text="${transaction.moneyAmount}"></td>
        <td th:text="${transaction.transactionType}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
